* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.container-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

// img {
//     box-shadow: -5px 6px 5px 0px rgba(129, 128, 128, 0.719);

// }
.cover-image {
    width: 200px;
    height: 296px;
    box-shadow: -5px 6px 5px 0px rgba(129, 128, 128, 0.719);
}

.section-title {
    color: #E74A10;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.book-rating {
    color: #E74A10;
    font-size: 40px;
}

.info_container {
    display: flex;
    width: 75%;
}

.info-book {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 70%;
}

.book-title {
    margin-top: 15px;
    font-size: 15px;
}

.book-author {
    color: grey;
    font-size: 15px;
}

.info-rating {
    width: 30%;
    text-align: center;
}