* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.profile-container {

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            margin-top: 20px;
            width: 200px;
        }
    }

    .form-item-container {
        display: flex;
        flex-direction: column;
        margin: 20px;

        label {
            margin-bottom: 8px;
        }

        input {
            height: 30px;
            padding: 15px;
        }
    }

    .checkbox-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;

        .label-title {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            border-radius: 3px;
            border: 1px solid grey;
            width: 100%;
            height: 32px;
        }

        .checkbox-box {
            padding: 10px;
        }

        .checkbox {
            margin: 10px;
        }
    }

    .save-button-container {

        display: flex;
        justify-content: center;
        align-items: center;

        .save-button {
            border: 1px solid #52a3ba;
            padding: 5px 0;
            border-radius: 3px;
            margin-bottom: 20px;
        }

        .save-button:hover {
            background-color: #52a3ba;
            color: white;
        }
    }
}