* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.profile-container {

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            margin-top: 20px;
            width: 200px;
        }
    }

    .nickname-container {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .nickname-item {
            font-size: 23px;
        }
    }

    .favorite-books-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
        margin: 10px;

        .pageHeadLine {
            font-size: 12px;
            margin-bottom: 10px;
        }

        .book {
            display: flex
        }
    }


}